*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgba(0,0 ,0 , 0.7);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

}
.stopwatch{
    background-color: rgba(0,0 ,0 , 0.9);
    padding: 20px 24px ;
    border-radius: 10px;
}
.timerDisplay{
    font-size: 50px;
    font-weight: 600;

}

.buttons{
    margin-top: 20px;
}
.STOPbtn{
    font-size: 20px;
    background-color: none;
    border: none;
    color: #fff ;
    background-color: RED;
    padding: 12px 24px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
    
   
}

.STARTbtn{
    font-size: 20px;
    background-color: none;
    border: none;
    color: #fff;
    background-color: green;
    padding: 12px 24px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;

}
.RESETbtn{
    font-size: 20px;
    background-color: none;
    border: none;
    color: #fff;
    background-color: blue;
    padding-top: 12px;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    
}
